<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Live Stream</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }

        .container {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Video from camera</h1>
        <img src="{{ url_for('video') }}" width="640" height="480">
        <br><br>
        <form action="{{ url_for('switch') }}" method="get">
            <button type="submit">Switch Camera</button>
        </form>
    </div>
</body>
</html>
